<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <p id="cc">hello</p>
  <h2 class="text-center">Danh sach Nguoi Dung</h2>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sua nguoi dung</h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="name">New name:</label>
            <input type="text" class="form-control" placeholder="Fix name" autofocus="true">
          </div>
          <div class="form-group">
            <label for="email">New email:</label>
            <input type="email" class="form-control" placeholder="Fix email">
          </div>
          <div class="form-group">
            <label for="pwd">New password:</label>
            <input type="password" class="form-control" placeholder="Enter password">
          </div>
          <div class="form-group" style="display: none;" id="hidden">
            <label for="reconfirm">Confirm password:</label>
            <input type="password" class="form-control" placeholder="Confirm password">
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success">Done</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="timkiem" style="width: 30%;">
    <div class="input-group">
     <input type="text" class="form-control" placeholder="Search by name or email">
     <div class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i>
      </button>
      </div>
    </div>
    <div class="alert alert-danger" style="display: none;">
       <strong>Danger!</strong> Khong duoc de trong gia tri nay
    </div>
     <div class="alert alert-success" style="display: none;">
      <strong>Sorry!</strong> Khong tim duoc gia tri nao.
    </div>
  </div>

  <table class="table table-bordered" style="margin-top: 5%;">
    <thead>
      <tr>
        <th>Stt</th>
        <th>name</th>
        <th>password</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% var Json = JSON.parse(Json);
       for(var i=0; i < Json.length; i++){%>
            <tr>
              <input type="hidden" value = "<%= Json[i]._id %>">
              <td><%= (i+1) %></td>
              <td><%= Json[i].name %></td>
              <td><%= Json[i].password %></td>
              <td><%= Json[i].email %></td>
              <td><button type="button" class="btn btn-primary">Edit</button></td>
              <td><button type="button" class="btn btn-warning">Delete</button></td>
            </tr>
        <%}%>
    </tbody>
  </table>
</div>

<script type="text/javascript">

    var table = document.getElementsByTagName("table")[0];
    var button = table.getElementsByClassName("btn-warning");
    var button1 = table.getElementsByClassName("btn-primary");
   //ham cap nhat
   function Post_data(id, name, email, password)
   {
     $.ajax({
       type: 'PUT',
       data: {uid: id, rname: name, remail: email, rpass: password},
       url: 'http://localhost:8080/home',           
       success: function(data2) {
       //  document.getElementById("cc").innerHTML = data2;
       }
     });
   }

   //ham xoa
   function Post_data1(id)
   {
     $.ajax({
       type: 'DELETE',
       data: {rid: id},
       url: 'http://localhost:8080/home',           
       success: function(data2) {
        // document.getElementById("cc").innerHTML = data2;
       }
     });
   }

    //cac ham phan tim kiem
   var timkiem = document.getElementById("timkiem");
   var btn = timkiem.getElementsByTagName("button")[0];
   var val = timkiem.getElementsByTagName("input")[0];

  //ham thay doi gia tri nguoi dung(update)
  function Changemodal(row)
  {
    var Modal =  document.getElementsByClassName("modal-body")[0];
    var Modal1 = document.getElementsByClassName("modal-footer")[0];
    var input = Modal.getElementsByTagName("input");
    var Class = document.getElementById("hidden");

    input[0].value = row.cells[1].innerHTML;//lay ten trong table
    input[1].value = row.cells[3].innerHTML;//lay email
    input[2].value = row.cells[2].innerHTML;//lay password

    input[2].onkeypress = function(){
      Class.style.display="block";
    }

    var name, email, pass, id;
    id = row.getElementsByTagName("input")[0].value;
    
    var button2 = Modal1.getElementsByTagName("button");

    button2[0].onclick = function(){
      $('#myModal').modal('hide');
      name  = input[0].value;
      email = input[1].value;
      pass  = input[2].value;
      document.getElementById("cc").innerHTML = name;
      Post_data(id, name, email, pass);
      location.reload();//refresh lai trang web
    }
  }

   for(var i = 0; i < button.length; i++){
    button[i].addEventListener("click", function(){
      var r = confirm("Are you sure want to delete this user?");
      if(r == true){
        var row = event.target.parentNode.parentNode;//lay vi tri button da duoc click
        var id = row.getElementsByTagName("input")[0].value;
        Post_data1(id);
        location.reload();//refresh lai trang web
      }
    });
   }

   for(var i = 0; i < button1.length; i++){
     button1[i].onclick = function(event){
       $('#myModal').modal('show');
       var row = event.target.parentNode.parentNode;//lay vi tri button da duoc click
       Changemodal(row);
     }
   }

  //ham tim kiem
   function Post_data2(value)
   {
     $.ajax({
       type: 'POST',
       data: {search: value},//gia tri tim kiem theo ten hoac theo dia chi email
       url: 'http://localhost:8080/home',           
       success: function(data) {
        //xu li du lieu tra ve
         data = JSON.parse(data);
         var Length = Object.keys(data).length;

         if(Length == 0){
           var btn1 = timkiem.getElementsByClassName("alert-success")[0];
           btn1.style.display = "block";
         }else{
           table.innerHTML = "";
           table.innerHTML = "<thead><tr><th>Stt</th><th>name</th><th>password</th><th>Email</th><th>Edit</th><th>Remove</th></tr></thead><tbody>";
           for(var i = 0; i < Length; i++){
              table.innerHTML += "<tr><input type='hidden' value="+data[i]._id+"><td>"+(i+1)+"</td><td>"+data[i].name+"</td><td>"+data[i].password+"</td><td>"+data[i].email+"</td><td><button type='button' class='btn btn-primary'>Edit</button></td><td><button type='button' class='btn btn-warning'>Delete</button></td></tr>";
           }
           table.innerHTML += "</tbody>";
         }
         //document.getElementById("cc").innerHTML = Length;
       }
     });
   }

   btn.onclick = function(){
      var danger = timkiem.getElementsByClassName("alert-danger")[0];
      var bt1 = timkiem.getElementsByClassName("alert-success")[0];
      bt1.style.display = "none";
      if(val.value == ""){
        danger.style.display = "block";
      }else{
        Post_data2(val.value);
      }
   }


</script>

</body>
</html>
